{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12">
                {% include 'partials/navigation.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <a href="{{ url_for('handler.create_question') }}" class="waves-effect waves-light btn">Create Question</a>
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <ul class="collection">
                    {% for question in questions %}
                        <li class="collection-item">{{ question.title }}
                            <a href="{{ url_for('handler.view_question', question_id=question.question_id) }}"
                               class="waves-effect waves-light btn right">View</a>
                            <a href="{{ url_for('handler.delete_question_by_question_id', question_id=question.question_id) }}"
                               class="waves-effect waves-light btn right">Delete</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}