{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12">
                {% include 'partials/navigation.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col l12">
                <form method="post" action="{{ url_for('handler.create_question') }}">
                    <div class="row">
                        <div class="input-field col l12">
                            <input type="text" name="title" id="title" required>
                            <label for="title">Title</label>
                        </div>
                        <div class="input-field col l12">
                            <input type="text" name="question" id="question" required>
                            <label for="question">Question</label>
                        </div>
                        <div class="input-field col l12">
                            <select name="answer">
                                <option value="single_choice">Single Choice (Yes / No)</option>
                                <option value="multiple_choice">Multiple Choice Choice (Yes / No)</option>
                                <option value="textual">Textual</option>
                                <option value="rank">Rank</option>
                            </select>
                            <label for="answer">Answer</label>
                        </div>
                        <div class="input-field col l12">
                            <input type="text" name="possibilities" id="possibilities">
                            <label for="possibilities">Possibilities</label>
                        </div>
                        <div class="input-field col l12">
                            <select name="metric">
                                <option value="views">Views</option>
                                <option value="subscribers">Subscribers</option>
                                <option value="engagement">Total Engagement</option>
                            </select>
                            <label for="metric">Metric Values to be shown</label>
                        </div>
                        <div class="input-field col l12">
                            <select name="platform">
                                <option value="facebook">Facebook</option>
                                <option value="youtube">YouTube</option>
                            </select>
                            <label for="platform">On Platform</label>
                        </div>
                        <div class="input-field col l12">
                            <select name="time_frame">
                                <option value="01 Oct 2016">October 2016</option>
                                <option value="01 Nov 2016">November 2016</option>
                            </select>
                            <label for="time_frame">During Month</label>
                        </div>
                        <div class="input-field col l12">
                            <select name="survey_id" id="survey_id">
                                {% for survey in surveys %}
                                    <option value="{{ survey.survey_id }}">{{ survey.title }}</option>
                                {% endfor %}
                            </select>
                            <label for="survey_id">Survey</label>
                        </div>
                    </div>
                    <button type="submit" class="waves-effect waves-light btn">Create</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}